body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recipe {
  border: solid 2px black;
  display:flex;
  flex-direction: row;
  margin:auto;
  
  
}

.text-center {
  margin-left:1%;
  padding-top: 9px;
  font-size: large;
}

.link-center {
  margin:auto;
  margin-left:1%;
  padding-top: 3px;
  font-size: large;
}

.return {
  font-size:large;
  margin-top: 10px !important;
  background-color: rgb(101, 98, 228);
  color: white;
  border-radius: 10%;
  margin-left: 2%;
  padding: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width:30px;
}
.recipe-collection {
  margin-left: 10px;
  width: 30%;
  box-shadow:10px 10px 10px grey;  
  margin-top: 30px;
}

.recipe-box {
  
  margin-left: 10px;
  width: 30%;
  margin-top: 30px;
}

.recipe{
  margin-top: 10px;
}

.newrecipebox {
 display:flex;
 flex-direction: column;
 width: 40%;
 
 padding: 2%;
}

input{
  
  margin-top: 10px;
}

.submit{
  box-shadow:10px 10px 10px grey;  
}