body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recipe-collection {
  margin:auto;
  align-items: center;
  width: 30%;
  box-shadow:10px 10px 10px grey;  
  margin-top: 90px;
}

.recipe-list {
  border: solid 2px black;
  display:flex;
  flex-direction: row;
  margin:auto;
  margin-top: 5px;
  padding-left: 5%;
  padding-right: 5%;
}

.text-center {
  margin-left:1%;
  padding-top: 9px;
  font-size: large;
  margin-bottom: 20px;
}

.link-center {
  margin:auto;
  padding-top: 3px;
  font-size: large;
}

.center-page{
 text-align: center;
 align-self: center;
 margin: auto;
 margin-bottom: 20px;
}

.link-align {
  width: 50%;
  text-align: center;
  margin-left: 47%;
  background-color: mediumseagreen;
  color: white;
  text-decoration: none;
  padding: 1%;
  border-radius: 10%;
  top: 50px;

}


.return {
  font-size:large;
  margin-top: 10px !important;
  background-color: rgb(101, 98, 228);
  color: white;
  border-radius: 10%;
  margin-left: 2%;
  padding: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width:30px;
  text-decoration: none;
}


.recipe-box {
  
  margin-left: 10px;
  width: 30%;
  margin-top: 30px;
}

.recipe{
  margin-top: 10px;
}

.newrecipebox {
 display:flex;
 flex-direction: column;
 width: 40%;
 
 padding: 2%;
}

input{
  
  margin-top: 10px;
}

.submit{
  box-shadow:10px 10px 10px grey;  
}

.tags {
  opacity:0.58;
  color: blue;
  margin: auto;
  
}